
body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      sans-serif;
    background-color: #333;
    color: #dadada;
}

.box{
    padding: 40px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: #131313;
    border-radius: 10px;
}

.topmsg{
    margin: 0;
}

.submsg{
    margin-bottom: 5px;
}

input {
    background-color: #dadada;
    height: 25px;
    border: 1px solid #333;
    border-radius: 5px;
}

button{
    color:#dadada;
    background-color: #293bdb;
    padding: 7px;
    margin-top: 30px;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background-color: #0b20db;
}

.signUp{
    margin-top: 20px;
}

.signUp > a:hover{
    color: #640000;
}